.top-banner{
	position:relative;
	max-height: 300px;
	z-index: 100;
	margin-bottom:15px;
	
}
.top-banner img{
		width:100%;
	position:relative; 
	padding-top: 0px;
}
.top-banner h2{
position: absolute;
    top: 20px;
    right: 48px;
    z-index: 999;
    font-size: 4.250em;
    font-weight: 200;
	margin-bottom:15px;
}
.top-banner p{
	position: absolute;
    top: 100px;
    right: 40px;
    z-index: 999;
    font-size: 18px;
    font-weight: 300;
    color: #528aa8;
}
.top-banner h4{
    position: absolute;
    top: 155px;
    right: 200px;
    z-index: 999;
    font-size: 20px;
    font-weight: 200;
    color: #528aa8;
	
	
}
.top-banner h5{
position: absolute;
    top: 242px;
    right: 112px;
    z-index: 999;
    font-size: 13px;
   
    color: #528AA8;
}
.top-banner button{
	position: absolute;
    top: 180px;
    right: 173px;
    z-index: 999;
    padding: 5px 35px!important;}
.top-banner h3{
	position:absolute; 
	top:160px; 
	left:28px; 
	z-index:999;
	font-size:30px;
	font-weight:100;
	color:#06BBF5;
}
.top-banner h6{
position: absolute;
    top: 221px;
    right: 91px;
    z-index: 999;
    font-size: 13px;
    font-weight: bold;
    color: #528AA8;
}
#flash {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0.0; }
}

.overview h2{
	color:#528aa8;
	font-size:25px;
	margin-bottom:5px;
}
.overview h3{
	color:#06BBF5;
	font-size:20px;
	margin: 0 0 5px 10px;
}
.overview p{
	color:#5e5e5e;
	font-size:17px;
	text-align:justify;
	margin-left:15px;

}

.yellow{
	color:#E8BD2F;
}
.blue{
	color:#528aa8;
}
th{
color:#06BBF5;
	font-size:18px;

}
td{
	color:#5e5e5e;
	font-size:17px;
	text-align:justify;
	}
